[Unit]
Description=AirMonitoring

[Service]
User=pi
Restart=always
ExecStart=/home/pi/co2monitoring/co2-monitoring/air_monitoring.py

[Install]
WantedBy=multi-user.target